node_modules/
data/db.json
storage/faces/**
storage/voices/**
storage/videos/**
storage/originals/**
storage/thumbnails/**
storage/temp/**
!storage/faces/.gitkeep
!storage/voices/.gitkeep
!storage/videos/.gitkeep
!storage/originals/.gitkeep
!storage/thumbnails/.gitkeep
!storage/temp/.gitkeep
.env
*.mp4
*.wav
*.mp3
*.jpg
*.png
__pycache__/
*.pyc
*.pth
models/
Wav2Lip/
SadTalker/
.DS_Store
